h1 {
  color: #4caf50;
  text-align: center;
}

#formSection,
#taskSection {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
  margin: 20px auto;
}

.taskSectionList {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.tasksList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tasksList:nth-child(odd) {
  background-color: #f9f9f9;
}

.tasksList:hover {
  background: #ddd;
}

.tasksList {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.tasksListBtn {
  display: flex;
  align-items: flex-start;
}

.button {
  border: none;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.editBtn {
  background-color: #4caf50;
}

.deleteBtn {
  background-color: #f52821;
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(281deg) brightness(101%) contrast(101%);
}

.home:link,
.home:visited {
  background-color: #4caf50;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.home:hover,
.home:active {
  background-color: #45a049;
}

@media (max-width: 800px) {
  .tasksList {
    flex-direction: column;
  }
}
